body {
  background: #D6D6D6 url(../img/back.jpg) 50% 0  no-repeat;
  font: .8em Tahoma, verdana, arial normal;
  color: #333;
  --whiteColor: #fff;
  --orangeColor: #FF6600;
  --grayColor: #D3D3D3;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

p {
  word-wrap: break-word;
}
a:hover, mark, h1,
.content article > header,
.content aside > header {
  color: var(--orangeColor);
}

mark {
  background: transparent;
}

h1, h1 a {
  font-size: 1.3em;
  font-weight: normal;
}

img {
  height: 25em;
}

blockquote, figure {
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center ;
  font-size: .9em
}

/* Header*/

.header-container h1 > a {
  text-shadow: .1em .1em #4a4a4a;
  font-size: 2em;
  font-weight: bold;
  color: var(--whiteColor);
}

.search-container input[type=search] {
  font-size: 1em;
  padding: .5em;
  border: none;
}
.search-container button {
  font-size: 1em;
  cursor: pointer;
  border: none;
  background: #bfbebe;
  padding: .5em 1em;
  display: block;
  float: left;
}

.search-container button:hover {
  background: #8F8E8E;
}

.search-container .fa {
  color: #8e8e8e;
}

.menubar-container {
  border-top: .1em solid rgba(113, 113, 113, 0.7);
  background: #525252;
}

.menubar-container ul {
  list-style-type: none;
  margin: 0;
}

.menubar-container ul > li a,
.footer-container {
  color: rgba(255,255,255,0.7);
}

li > a {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;

}

li > a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .1em;
  bottom: 0;
  left: 0;
  background-color: var(--orangeColor);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  color: white;
}

.menubar-container ul > li a:hover {
  color: white;
}

/* Content */

.content section h1 {
    color: inherit;
}

.content article > header,
.content aside > header {
  border-left: 4px solid currentColor;
  background-image: linear-gradient(-180deg, #f3f3f3 0%, #dedede 100%);
  padding: .1em 1.5em;
}
.header-container,
.menubar-container ul,
.footer-container,
.search-result-message,
.content main figure,
.content main section,
.content aside section,
.content article footer {
  padding: 1em;
}

/* Center Column  */

.center_column {
  width: 70%;
  margin: 0 auto;
  padding: 1.5em;
  min-width: 550px;
  --areaBackground: rgb(88, 88, 88);
}
.content,
.movie-description {
  --areaBackground: white;
   display: flex;
  }

 .content > main,
 .content > aside,
 .center_column > footer,
 .center_column > header {
   margin: 1em;
   background: var(--areaBackground);
   box-shadow: 0 .1em .4em .1em rgba(51,51,51,.2);
 }
 .center_column > header {
   border-radius: 1em 1em 0 0;
 }
.center_column > footer {
  border-radius: 0 0 1em 1em;
}


/* Arrow pointer */

.footer-container span::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.7em solid;
  position: absolute;
  margin: 0.35em 0 0 0.5em;
}

/* HomeWork#9 */

.header-container,
.header-container > form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menubar li {
  display: inline;

}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.right-colum {
  display: block;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 10em;
}

.right-colum {
  flex-basis: 10em;
}

/* HomeWork#10*/
.content {
  display: flex;
}

table, iframe, video {
  width: 100%;
  padding: 1em 0 1.5em 0;
}

iframe, video {
  width: 100%;
  height: 25rem;
}

th {
    background: linear-gradient(to top, #FF4D32, #FFA076);
    color: white;
    padding: .3em 1em;
    text-align: center;
  }

  td {
  text-align: center;
  background-color: #FFCDB8;
  color: #2D2C2D;
  padding: .3em 1em;
}

.comments button {
  font-size: 1em;
  cursor: pointer;
  border: none;
  background: #bfbebe;
  padding: 0.7em 0.7em;
  margin-right: 1em;
  transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
}

.comments button:hover {
   background: #8F8E8E;;
}

.content .trailer h1 {
  background: #f2f2f2;
  color: var(--orangeColor);
  padding: 0.3em;
}

.content .comments {
  margin: 1em;
  padding: 2em;
  background: #e6e6e6;
}

.content input,
.content textarea {
  width: 100%;
  font-size: 1.2em;
  border: none;
}

.content form > div {
  margin: 1em 0;
}

.comments textarea {
  resize: none;
  height: 10em;
}

label > span .fas, .fa-asterisk {
  color: #EE151F;
  font-size: .7em;
}

/* HomeWork#11*/

h1 > a:hover {
  filter: url('#blur');
}

/* Tooltip */
.tooltip {
  color: var(--whiteColor);
  border-bottom: .1em dashed var(--whiteColor);
  position: relative;
  cursor: pointer;
}

.tooltip::before,
.tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .7s;
  -o-transition: opacity .7s;
  -webkit-transition: opacity .7s;
  -moz-box-transition: opacity .7s;

}

.tooltip::before {
  bottom: 1.87em;
  left: 50%;
  margin-left: -6.25em;
  padding: 1em;
  width: 12.5em;
  font-size: .8em;
  color: var(--whiteColor);
  text-align: center;
  background-color: rgba(0,0,0,.85);
  border-radius: 0.31em ;
  content: attr(data-tooltip); /*attr - берез значение из необходимого атребута*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tooltip:after {
  content: "";
  border-top: 0.6em solid rgba(0,0,0,.85);
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  bottom: .9em;
  margin-left: -0.7em;
}

.tooltip:hover::before,
 .tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}












--
