@font-face { font-family: 'Tahoma-Bold';  src: local('Tahoma-Bold'), url('https://nomail.com.ua/files/woff/269a3173c2531cfc6b376971a672dac3.woff') format('woff'); }
body {
  font: .8em Tahoma, verdana, arial normal;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, mark, h1 {
  color: #f60;
}

h1 {
  font-size: 1.3em;
  font-weight: normal;
}

img {
  height: 25em;
}

figcaption {
  font-size: .9em;
}

.header-container h1 > a {
  text-shadow: .1em .1em #4a4a4a;
  font-size: 2em;
  font-weight: bold;
}

.search-container input {
  font-size: 1em;
}

.search-container buttom {
  font-size: 1em;
  cursor: pointer;
}

.search-container .fas {
  color: #8e8e8e;
}

.menubar-container {
  list-style-type: none;
}

.content section h1 {
  color: inherit;
}
